<header class="header-seaction">
    <div class="container">
        <a class="nav-trigger"></a>
        <div class="header-area">
            <div class="header-nav">
                <a class="nav-toggle">
                    <span class="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
            </div>
            <div class="logo text-center">
                <a href=""></a>
            </div>
            <div class="cd-primary-nav fadeInDown">
                <div class="block_links">
                    <restaurant-searching></restaurant-searching>
                </div>
            </div> 
        </div>
    </div>
</header>