<div class="banner">
    <div class="shape-1">
        <img src="assets/images/banner/shape/01.png" alt="banner">
    </div>
    <div class="shape-2">
        <img src="assets/images/banner/shape/02.png" alt="banner">
    </div>
    <div class="banner-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-12">
                    <div class="banner-content">
                        <h2>Unique Food Network...</h2>
                        <form action="">
                            <div class="codexcoder-selectoption">
                                <span>
                                    Find A Place
                                </span>
                            </div>
                            <input type="text" name="type" placeholder="Enter your food name">
                            <button type="submit"><i class="icofont-search-2"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>